<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Checkout Details Form</title>
</head>
<body>
<h1>Add Shipping Details</h1>

    <form th:action="@{/get-add-address-form}" method="post" th:object="${detail}">
        <label>
            State
            <input type="text" th:field="*{state}">
        </label>

        <label>
            City
            <input type="text" th:field="*{city}">
        </label>

        <label>
            Address
            <input type="text" th:field="*{address}">
        </label>

        <label>
            Phone No.
            <input type="text" th:field="*{phone}">
        </label>

        <input type="submit" value="Proceed to Payment">
    </form>
</body>
</html>