<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<h1>This is Homepage.</h1>
<h2>Some are good.</h2>

<a th:href="@{/login}"><button>Login</button></a>
<a th:href="@{/sign-up}"><button>Sign-Up</button></a>
<a th:href="@{/my-cart}"><button>My Cart</button></a>
<a th:href="@{/my-wishlist}"><button>My Wishlist</button></a>

<form th:action="@{/search}">
    <select name="searchCategory" id="">
        <option value="noCategory">All Category</option>
        <option th:each="cat : ${allCategory}" th:value="${cat.categoryName}" th:text="${cat.categoryName}"></option>
    </select>
    <input type="text" name="searchProduct" required>
    <input type="submit">
</form>
<!--Products By Category-->
<h1>Products By Category</h1>
<!--Iterate over each category-->
<div class="container" th:each="cat: ${allCategory}">
<!--    Display the name of the category-->
    <h2 th:text="${cat.categoryName}"></h2>
<!--    Then for each category, iterate over all the products-->
    <div class="row" th:each="product: ${allProduct}">
<!--        If the category name and the name of category on product match-->
        <div class="col-sm" th:if="${cat.categoryName == product.category.categoryName}">
<!--            Display the product on that category on a card-->
            <div class="card" style="width: 18rem;">
<!--                Dispalying the product's image-->
                <img th:src="@{${product.images.path}}" class="card-img-top" alt="Image" width="50%">
<!--                The displaying the card's info and a add to cart button-->
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.productName}">Card title</h5>
                    <p class="card-text" >Rs. <span th:text="${product.price}"> </span></p>

                    <form  th:action="@{/add-to-cart/{product_id} (product_id = ${product.id}) }" method="post">
                        <label>
                            Quantity
                            <input type="number" th:field="*{cartdto.quantity}">
                        </label>
                        <input type="submit" class="btn btn-primary" value="Add To Cart">
                    </form>

                    <a  th:href="@{/add-to-wishlist/{id} (id = ${product.id})}"><button>Wishlist</button></a>
                </div>
            </div>
        </div>
    </div>

    <br><br>
</div>


<!--//Products Section-->
<!--<section th:each="cat: ${allCategory}">-->
<!--  <section th:each="product : ${allProduct}" style="border:2px solid red;">-->
<!--      <section th:if="${cat.categoryName == product.category.categoryName}">-->
<!--            <h1 th:text="${cat.categoryName}"></h1>-->
<!--            <h2 th:text="${product.productName}"></h2>-->
<!--          <a href=""><button>Add To Cart</button></a>-->
<!--      </section>-->
<!--  </section>-->
<!--</section>-->

<!--<section th:each="cat : ${allCategory}">-->
<!--    <h1 th:text="${cat.categoryName}"></h1>-->
<!--    <section th:each="product : ${productsByCategory[cat.categoryName]}" th:if="${product != null}" style="border:2px solid red;">-->
<!--        <h2 th:text="${product.productName}"></h2>-->
<!--    </section>-->
<!--</section>-->


<section >

</section>
</body>
</html>